.top-bar {
    .container {
        width: 100%;
        height: auto;
        background-color: $color-white;
        @include flex(row, center, flex-end);
        .socials {
            @include flex(row, center, flex-end);
            a {
                &:not(:last-child){
                    margin-right: 1.5rem;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
            }
        }
    }
}

header {
    width: 100%;
    height: auto;
    background: transparent;
    nav {
        width: 100%;
        @include flex(row, center, space-between);
        .logo {
            padding-top: 2.9rem;
            padding-bottom: 2.9rem;
        }
        ul {
            display: flex;
            li {
                &:not(:last-child){
                    margin-right: 4.1rem;
                }
                a {
                    font-size: 18px;
                    color: $color-grey;
                    transition: opacity .3s linear;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
        button {
            font-weight: bold;
        }
    }
}

// @include responsive(480px)