.s-hero {
    width: 100%;
    height: 100vh;
    background-image: url("../img/background/hero-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -109px;
}